body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #00ffff;
    padding: 10px;
}

    header h1 {
        margin: 0;
    }

nav {
    margin-top: 10px;
}

    nav a {
        margin-right: 10px;
    }

footer {
    background-color: #4cff00;
    padding: 10px;
    text-align: center;
}
